@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.header__logo {
  width: 1.5rem;
  height: 1.5rem; }

.header__nav {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 1em; }

.header__option {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem; }

.btn-container {
  height: 2.5em;
  width: 6em;
  background-color: #5f45d5;
  line-height: 2.5em;
  text-align: center;
  border-radius: 1em; }

.header__button {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

.background-svg {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 70vh;
  margin: 0;
  background-color: #fafafe;
  background-position: right 0vw; }

.background-svg::before {
  position: absolute;
  z-index: -1;
  content: "";
  background-image: url(../assets/background-image.svg);
  background-repeat: no-repeat;
  background-position: right 0vw;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.background-white-bold {
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc; }

.main-texts {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center; }

.main-subtitle {
  color: #a8abac;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 0.1rem; }

.main-title {
  font-size: 2rem;
  font-weight: 400; }

.main-input-container {
  display: flex;
  width: 90%;
  height: 2.5em;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0px 10px 35px -3px rgba(0, 0, 0, 0.25); }

.main-input {
  width: 100%;
  height: inherit;
  border-radius: 1em;
  border: 1px solid #fff;
  font-size: 1rem;
  padding: 1em;
  outline: none; }

.main-input-icon {
  position: relative;
  background-image: url(../assets/search-button.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border: none;
  background-color: #fff;
  margin-right: 0.2em; }

.main-img {
  width: 80%; }

.main-subtitle-jobs {
  position: relative;
  color: #a8abac;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  top: 12vh; }

.main-img {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center; }

.section-cards {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: flex; }

.card {
  font-size: 20px;
  width: 15%;
  height: 80%;
  background-color: #fff;
  margin-right: 2rem;
  box-shadow: 1px 1px 19px rgba(0, 0, 0, 0.25); }
  .card figure {
    width: 100%;
    height: 30%; }
    .card figure img {
      width: 100%;
      height: 100%;
      border-bottom: 0.3px #fafafe solid; }

.card__job {
  font-size: 0.9rem;
  height: 15%;
  padding: 1em;
  margin: 0.5; }

.card__company {
  font-size: 0.9rem;
  color: #a8abac;
  height: 15%;
  padding: 1em; }

.card__location-flex {
  display: flex;
  height: 15%;
  padding: 0.5em; }

.card__location-icon {
  width: 1em;
  height: 1em; }

.card__place {
  font-size: 0.9rem;
  color: #a8abac;
  opacity: 0.4; }

.card__reward {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  height: 30%;
  background-color: #fafafe; }
  .card__reward span {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.2rem;
    width: 80%;
    font-weight: 700;
    align-self: center; }
  .card__reward p {
    color: #a8abac;
    font-size: 0.9rem; }

.card__p {
  color: #000;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  height: 4em;
  line-height: 4em; }

.card__puzzle-container {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  align-self: center; }

.card__puzzle-icon {
  position: absolute;
  background-image: url(../assets/puzzle-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
  top: .2rem;
  left: .2rem;
  border-radius: 50%;
  background-color: #fff; }

body {
  font-family: "Nunito", sans-serif; }

.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 10%; }

.container {
  display: grid;
  width: 85vw;
  margin: 0 auto;
  height: calc(100vh - 10%);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 20% 30%; }

@media (max-width: 1300px) {
  body {
    overflow-x: hidden; }

  .header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%; }

  .header__option {
    font-size: 0.5rem;
    text-align: center; }

  .header__button {
    font-size: 0.5rem; }

  .container {
    display: grid;
    width: 100vw;
    margin: 0 auto;
    height: calc(100vh - 10%);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50% 20% 30%;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr); }

  .container {
    height: 100vh; }

  .main-texts {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }

  .main-img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto; }

  .main-subtitle-jobs {
    text-align: center;
    font-size: 0.8rem; }

  .main-subtitle {
    font-size: 0.6rem;
    text-align: center; }

  .main-title {
    text-align: center; }

  .main-input-container {
    margin: 0 auto; }

  .section-cards {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    flex-direction: column;
    margin: 0 auto; }

  .card {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    max-width: 14em;
    width: 80vw; } }

/*# sourceMappingURL=styles.css.map */
