@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$color-white: #fff; 
$color-white-bold: #fafafe;
$color-white-footer: #fcfcfc;
$color-gray: #a8abac;
$text-uppercase: uppercase;
$font-family: 'Nunito', sans-serif;;

$subtitle-gray: 0.6rem;
$letter-spacing-subtitle-gray: 0.1rem;


$card-title: 0.9rem;
$card-price: 1.2rem;
